
<!--Political Interests -->
<!---maybe a new component  -->
<section>
  <h1 class="">Bernie Sanders voting history </h1>
	<h1 class="w3-panel w3-black"> political issues</h1>


	<div class="w3-row">
		<div class="w3-half w3-container w3-green">
			<h2>ENVIRONMENTAL</h2>
		</div>
		<div class="w3-half w3-container">
			<span class="w3-xxlarge">&#x2789;</span>
		</div>

	</div>

	<div class="w3-row">

		<li class="w3-bar">
			<span onclick="this.parentElement.style.display='none'"
  class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span>
			<img src="https://cdn.cfr.org/sites/default/files/styles/article_header_l_3x_600px/public/image/2019/08/Bernie%20Sanders_0.jpg" alt="Candidates Name. Candidates Party."  class="w3-image" class="w3-bar-item w3-square" style="width:85px; height:85px;">
			<div class="w3-bar-item">
				<span class="w3-large">Candidate Name GOES HERE</span><br>
				<span>JOB TITLE</span>
			</div>
		</li>
	</div>
</section>
