



<h1 class="w3-panel w3-black">FACT CHECKER</h1>

<a href="#" onclick="w3_open()">this component records data entry from users </a>
<div id="fact-checker" class="w3-border w3-card w3-mobile w3-pink" style="width:60%;" onload="w3_close()">
	This will be a form that opens and closes to let people fill out an online form. <form>the reportable fields:
		<div>
			issue: <input type="radio" id="high" name="priority" value="high">
			<label for="high">high</label>
		
			<input type="radio" id="medium" name="priority" value="medium">
			<label for="low">medium</label>
		
			<input type="radio" id="low" name="priority" value="low">
			<label for="low">low</label>
		</div>
		updated by: USER NAME GOES HERE
		correction date:
		source:
	</form>
</div>

