<!--Candidate Overview -->
<!---maybe a new component  -->
<section class="w3-container">


	<h1 class="w3-panel w3-blue">Bernie Sanders</h1>

	<div class="w3-card-4 w3-half w3-white">
		<img src="https://cdn.cfr.org/sites/default/files/styles/article_header_l_3x_600px/public/image/2019/08/Bernie%20Sanders_0.jpg" alt="Candidates Name. Candidates Party. "  class="w3-image" />

		<ul class="w3-ul">

			<li class="w3-padding-small">Candidate: President of the United States</li>
			<li class="w3-padding-small">Party: Democrat</li>
		</ul>

	</div>


	<ul class="w3-ul">

		<li class="w3-padding-small">Current Title: Senator of Vermont/years in office</li>
		<li class="w3-padding-small">age / DOB</li>
		<li class="w3-padding-small">DOB</li>
    <li class="w3-padding-small">State: Vermont</li>
		<li class="w3-padding-small">spouse (clicks to persons card)</li>
		<li class="w3-padding-small">children</li>
		<li class="w3-padding-small">religion</li>
    		<li class="w3-padding-small">hobbies</li>
    <li class="w3-padding-small">official website (opens in new window for paid version)</li>
       <li class="w3-padding-small">campaign funds</li>
        <li class="w3-padding-small">electoral votes</li>
	</ul>
</section>


